.container{
    width:980px;
    background-color: yellow;
}
.container h1{
    font-size:16px;
    text-align:center;
}
.container .author-time{
    color:#aaaaaa;
    font-size:12px;
}
.container img{
    width: 300px;
    height: 200px;
}
.container .nostyle {
    color: black;
    font-size: 14px;
}
.container li{
    color:red;
    list-style-type: none;
}