*{
    margin:0;
    padding:0;
}
.nav{
    margin:0 auto;
}
.nav img{
    float:left;
}
.nav li{
    float:left;
    /* padding-left:10px; */
    list-style: none;
    border:10px solid #ffffff;
}
.clear::before,.clear::after{
    content:"";
    display:block;
    clear:both;
}
.header_nav_search_input{
    float:left;
}
.header_nav_search_img{
    border-color: blue;
    float:left;
    width: 17px;
    height: 17px;
    margin-left:-20px;
    background-image: url(http://xiaozhoubg.com/images/search.png);
}
a:link {
    text-decoration: none;
    float:left;
    margin-left:20px;
}